# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.toast
.spider
*.db
*.sqlite3

# Node / JS / TS
node_modules/
dist/
dist-ssr/
*.local
.env
.env.development
.env.production
.eslintcache
.stylelintcache
*.log

# IDEs / Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
